@import 'lib/_color';

body {
  div.form.errors,
  div.form.success {
    border: 1px solid;
    margin: 2em 0;

    ul {
      background: $white;
      color: $cold_black;
      list-style: none;
      margin: 0;
      padding: 0.25em 1em;

      li {
        padding-left: 1em;
        text-indent: -0.7em;

        &:before {
          content: "\2022";
          font-weight: bold;
          padding-right: 0.5em;
        }
      }
    }

    .title {
      color: $white;
      font-weight: bold;
      padding: 0.25em 1em;
    }
  }

  div.form.errors {
    border-color: $red;

    ul {
      li:before {
        color: $red;
      }
    }

    .title {
      background: $red;
    }
  }

  div.form.success {
    border-color: $green;

    ul {
      li:before {
        color: $green;
      }
    }

    .title {
      background: $green;
    }
  }

  fieldset {
    border: 0;
    margin-top: 2.5em;

    legend {
      border-bottom: 1px solid $green;
      font-size: 1.25em;
      font-weight: bold;
      margin: 0 0 1em 0;
      padding: 0 2em;
    }

    label {
      display: block;
      margin-bottom: 1em;
      width: 30em;

      &.combo {
        position: relative;

        ul {
          color: $darker_grey;
          left: 8em;
          list-style: none;
          position: absolute;
          top: 1.75em;
          width: 22em;
          z-index: 1;

          li {
            background: $white;
            border: 1px solid $darker_grey;
            border-bottom-color: $dark_grey;
            border-top: 0;
            cursor: pointer;
            padding: 0 0.25em;

            &:hover,
            &.selected {
              background: $grey;
              color: $cold_black;
            }

            &:first-child {
              border-top: 1px solid $darker_grey;
              margin-top: -1px
            }

            &:last-child {
              border-bottom-color: $darker_grey;
            }
          }
        }
      }

      &.number {
        display: inline-block;
        margin-right: 2em;
        width: 6em;

        span {
          display: block;
          width: 6em;
        }

        input {
          width: 6em;
        }
      }

      span {
        display: inline-block;
        font-weight: bold;
        width: 8em;
      }

      input,
      select {
        background: $white;
        border: 1px solid $darker_grey;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        font-size: 1em;
        height: 1.75em;
        line-height: 1.75em;
        padding: 0 0.25em;
        width: 22em;

        &:hover {
          background: $grey;
        }
      }

      input[type=checkbox] {
        vertical-align: bottom;
        width: 1em;
      }

      input[type=color] {
        padding: 0;
        vertical-align: bottom;
      }

      input[type=number] {
        padding-right: 0;
      }

      &.has_error {
        input,
        select {
          border-color: $red;
        }
      }

      &.required span:after {
        content: "*";
        color: $red;
        display: inline-block;
        margin-left: 0.25em;
      }

      // &.color {
      //   display: none;
      // }
    }

    input[type=submit] {
      background: $green;
      border: 0.0625em solid $green;
      color: $cold_grey;
      display: block;
      font-size: 1.25em;
      height: 1.875em;
      padding: 0 0.5em;

      &:hover {
        background: $cold_grey;
        color: $green;
        cursor: pointer;
      }
    }

    p {
      margin-bottom: 1em;

      span {
        color: $red;
      }
    }
  }

  form.settings {
    fieldset {
      margin-top: 0.5em;
      width: 100%;

      label {
        display: inline-block;
        margin-right: 2em;
        width: 21em;

        select,
        span {
          width: 10em;
        }
      }

      input[type=submit] {
        display: inline-block;
        font-size: 1em;
      }
    }
  }

  .value_list {
    input {
      font-size: 1em;
    }

    td.combo {
      position: relative;

      ul {
        color: $darker_grey;
        left: 0.25em;
        list-style: none;
        position: absolute;
        top: 1.75em;
        width: 22em;
        z-index: 1;

        li {
          background: $white;
          border: 1px solid $darker_grey;
          border-bottom-color: $dark_grey;
          border-top: 0;
          cursor: pointer;
          padding: 0 0.25em;

          &:hover,
          &.selected {
            background: $grey;
            color: $cold_black;
          }

          &:first-child {
            border-top: 1px solid $darker_grey;
            margin-top: -1px
          }

          &:last-child {
            border-bottom-color: $darker_grey;
          }
        }
      }
    }
  }
}