
@import 'lib/_color';
@import 'form';

* {
  margin: 0;
  padding: 0;
}

body {
  background: $light_grey;
  color: $cold_black;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 2em;

  div.wrapper {
    margin: 0 auto;
    padding: 0 2em;
    width: 72em;
  }

  header {
    background: $green;
    padding-top: 2em;

    div.wrapper {
      padding: 0;
    }

    h1 {
      color: $cold_grey;
      font-size: 2em;
      padding: 0 1em;
    }

    nav {
      menu {
        display: flex;

        li {
          display: block;

          &:first-child {
            padding-left: 1em;
          }

          a {
            color: $cold_grey;
            display: block;
            font-size: 1.25em;
            padding: 0 1em;
            text-decoration: none;

            &:hover {
              background: $cold_grey;
              color: $cold_black;
            }
          }
        }
      }
    }
  }

  h2 {
    border-bottom: 1px solid $green;
    display: inline-block;
    font-size: 1.25em;
    font-weight: bold;
    margin: 2em 0 1em 0;
    padding: 0 2em;
  }

  h3 {
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: 0.889em;
  }

  table.value_list {
    border-collapse: collapse;

    thead {
      tr {
        td {
          border-bottom: 1px solid $darker_grey;
          font-weight: bold;
          margin: 0;
          padding: 0.25em;
        }
      }
    }

    tbody,
    tfoot {
      tr {
        td {
          margin: 0;
          padding: 0.25em;
          vertical-align: top;

          &:not(:last-child) {
            padding-right: 1em;
          }

          &.negative {
            color: $red;
          }

          &.number {
            text-align: right;
            width: 5em;
          }
        }
      }
    }

    tbody {
      tr {

        &:nth-child(2n) {
          td {
            background: $grey;
          }
        }

        &:not(.income) {
          td {
            border-top: 1px dotted $darker_grey;
          }
        }

        &:not(.income) ~ tr:not(.income) {
          td {
            border-top: 0;
          }
        }

        td {
          background: $light_grey;

          &.date {
            width: 5em;
          }
        }
      }
    }

    tfoot {
      tr {
        td {
          border-top: 1px solid $darker_grey;
        }
      }
    }
  }

  h3.distribution_chart {
    margin-top: 4em;

    & + p {
      margin-bottom: 2em;
    }
  }


  div.distribution_chart {
    display: flex;

    table {
      align-self: center;
      margin-left: 4em;

      td {
        &:not(:first-child) {
          padding-left: 1em;
        }

        &:last-child {
          text-align: right;
        }

        svg {
          margin-top: 0.375em;
        }
      }
    }
  }
}