
@import 'lib/_color';
@import 'lib/_font';
@import 'charts';
@import 'form';
@import 'header';
@import 'table';

* {
  margin: 0;
  padding: 0;
}

body {
  background: $light_grey;
  color: $cold_black;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 2em;

  div.wrapper {
    margin: 0 auto;
    max-width: 72em;
    padding: 0 2em;
  }

  h2 {
    border-bottom: 1px solid $green;
    display: inline-block;
    font-size: 1.25em;
    font-weight: bold;
    margin: 2em 0 1em 0;
    padding: 0 2em;
  }

  h3 {
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: 0.889em;
  }
}