

@import 'lib/_color';

* {
  margin: 0;
  padding: 0;
}

body {
  background: $light_grey;
  color: $cold_black;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 2em;

  div.wrapper {
    margin: 0 auto;
    padding: 0 2em;
    width: 72em;
  }

  header {
    background: $green;
    padding-top: 2em;

    div.wrapper {
      padding: 0;
    }

    h1 {
      color: $cold_grey;
      font-size: 2em;
      padding: 0 1em;
    }

    nav {
      menu {
        display: flex;

        li {
          display: block;

          &:first-child {
            padding-left: 1em;
          }

          a {
            color: $cold_grey;
            display: block;
            font-size: 1.25em;
            padding: 0 1em;
            text-decoration: none;

            &:hover {
              background: $cold_grey;
              color: $cold_black;
            }
          }
        }
      }
    }
  }

  h2 {
    border-bottom: 1px solid $green;
    display: inline-block;
    font-size: 1.25em;
    font-weight: bold;
    margin: 2em 0 1em 0;
    padding: 0 2em;
  }

  h3 {
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: 0.889em;
  }

  table {
    thead {
      tr {
        td {
          font-weight: bold;
        }
      }
    }

    td.submit {
      padding-top: 1em;
      text-align: right;
    }

    &.value_list {
      border-collapse: collapse;

      thead {
        tr {
          td {
            border-bottom: 1px solid $darker_grey;
            margin: 0;
            padding: 0.25em;
          }
        }
      }

      tbody,
      tfoot {
        tr {
          td {
            margin: 0;
            padding: 0.25em;
            vertical-align: top;

            &:not(:last-child) {
              padding-right: 1em;
            }

            &.negative {
              color: $red;
            }

            &.number {
              text-align: right;
              width: 5em;
            }
          }
        }
      }

      tbody {
        tr {

          &:nth-child(2n) {
            td {
              background: $grey;
            }
          }

          &:not(.income) {
            td {
              border-top: 1px dotted $darker_grey;
            }
          }

          &:not(.income) ~ tr:not(.income) {
            td {
              border-top: 0;
            }
          }

          td {
            background: $light_grey;

            &.date {
              width: 5em;
            }
          }
        }
      }

      tfoot {
        tr {
          td {
            border-top: 1px solid $darker_grey;
          }
        }
      }
    }
  }

  fieldset {
    border: 0;
    margin-top: 2.5em;

    legend {
      border-bottom: 1px solid $green;
      font-size: 1.25em;
      font-weight: bold;
      margin: 0 0 1em 0;
      padding: 0 2em;
    }

    input,
    select {
      background: $white;
      border: 1px solid $darker_grey;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-size: 1em;
      height: 1.75em;
      line-height: 1.75em;
      padding: 0 0.25em;

      &:hover {
        background: $grey;
      }
    }

    input[type=date] {
      width: 10em;
    }

    input[type=number] {
      width: 5.5em;
    }

    input[type=submit] {
      background: $green;
      border: 0.0625em solid $green;
      color: $cold_grey;
      float: right;
      font-size: 1.25em;
      height: 1.875em;
      padding: 0 0.5em;

      &:hover {
        background: $cold_grey;
        color: $green;
        cursor: pointer;
      }
    }

    td.combo {
      position: relative;

      ul {
        color: $darker_grey;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 1.75em;
        width: 100%;
        list-style: none;

        li {
          background: $white;
          border: 1px solid $dark_grey;
          border-top: 0;
          cursor: pointer;
          padding: 0 0.25em;

          &:hover {
            background: $grey;
            color: $cold_black;
          }

          &:last-child {
            border-color: $darker_grey;
          }
        }
      }
    }
  }

  h3.income_chart {
    margin-top: 2em;
  }

  h3.income_chart + p {
    margin-bottom: 2em;
  }

  #income_chart {
    display: flex;

    table {
      align-self: center;
      margin-left: 4em;

      td {
        &:not(:first-child) {
          padding-left: 1em;
        }

        &:last-child {
          text-align: right;
        }

        svg {
          margin-top: 0.375em;
        }
      }
    }
  }
}